<%= render :partial => "game/colored_rectangles" %>
<div class="jura_16 grid_6 grayBorder">
    ChuClone is an Open-Source<br> WebGL game by<a href="http://onedayitwillmake.com"> <strong>onedayitwillmake</strong></a> (Mario Gonzalez)
</div>
<div class="omega push_1 jura_12 grid_2 grayBorder">Built With</div>
<div class="push_1 jura_12 grid_1 grayBorder"><span class="jura_10">♥</span><a href="https://github.com/mrdoob/three.js/">Three.js</a></div>
<div class="push_1 jura_12 grid_1 grayBorder"><span class="jura_10">♥</span><a href="http://box2d.org/">Box2D</a></div>
<div class="push_1 jura_12 grid_1 grayBorder"><span class="jura_10">♥</span><a href="http://code.google.com/p/dat-gui/">DAT.GUI</a></div>
