<div id="gameContainer" class="grid_12" style="background-image: url('gamea/assets/images/page/guide_levelcomplete.png');">
	<div class="push_3 grid_6" style="margin-left: 20px; margin-top:30px;">
		<p class="jura_48" style="color:#01b0ee;">LEVEL COMPLETE</p>
		<div class="clear"></div>
		<div class="grid_6">&nbsp;</div>
		<p class="grayBorder jura_36" style="margin-top:50px;">#{leveltitle}</p>
		<div class="clear"></div>
		<div class="grid_6">&nbsp;</div>
		<div class="clear"></div>
		<p class="grayBorder jura_24" style="background-color:#98fb98; margin-top:-35px;margin-bottom:30px">#{notice}</p>
		<div class="grid_6">
			<div class="alpha grid_2 grayBorder jura_12 " style="margin-left:-10px;">Total Time</div>
			<div class="omega grid_4 grayBorder jura_12">{#totaltime}</div>
			 <div class="grid_6" style="margin-bottom:-10px;">&nbsp;</div>

			<div class="alpha grid_2 grayBorder jura_12" style="margin-left:-10px;">Total Airtime</div>
			<div class="omega grid_4 grayBorder jura_12">{#totaltime}</div>
			<div class="grid_6" style="margin-bottom:-10px;">&nbsp;</div>

			<div class="alpha grid_2 grayBorder jura_12" style="margin-left:-10px;">Max Jump</div>
			<div class="omega grid_4 grayBorder jura_12">{#maxjump}</div>
			<div class="grid_6" style="margin-bottom:-10px;">&nbsp;</div>

			<div class="alpha grid_2 grayBorder jura_12" style="margin-left:-10px;">Number of Deaths</div>
			<div class="omega grid_4 grayBorder jura_12">{#numdeaths}</div>
			<div class="grid_6" style="margin-bottom:-10px;">&nbsp;</div>
		</div>
	</div>
</div>