<div id="socialmedia" style="position:relative; top: -51px; left: 1000px;width: 200px;height: 60px;">
	<iframe src="http://www.facebook.com/plugins/like.php?app_id=210214575702690&href=chuclone.com&send=false&layout=button_count&width=100&show_faces=true&action=like&colorscheme=light&font=lucida+grande&height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
	<br>
	<a href="http://twitter.com/share" class="twitter-share-button" data-url="twitter-share-button" data-count="none" data-via="1dayitwillmake">Tweet</a>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>