<% content_for :game_start do %>
<script type="text/javascript">
		ChuClone.model.Constants.SERVER.ASSET_PREFIX = "game/";
		var game = new ChuClone.ChuCloneGame();
	</script>
<% end %>


<div class="container_12">
	<div class="JURA_normal_36 grid_4"><h1>ChuClone </h1></div>
	<div class="push_5 grid_3 grayBorder omega" style="text-align: center; font-size: 16px; font-weight: bold; margin-top:30px; padding: 5px 0 5px 0; margin-right:-5px" id='user_nav'>
			<% if current_user %>
				<%= link_to "#{current_user.name} - Sign Out", signout_path %>
			<% else %>
				<%= link_to "Sign in with twitter", "/auth/twitter" %>
			<% end %>
		</div>


    <div class="clear"></div>
	<% # Pretty little rectangles %>
	<% 12.times do |i| %>
		<% color = rand(360) %>
		<%= "\t<div class='grid_1 headerGrid' style='background-color: hsl(#{color},50%, 90%);'></div>".html_safe %>
	<% end %>
    <div class="JURA_normal_36 grid_4">
        <p class="grayBorder"> Level Name </p>
    </div>

    <div class="grid_4 push_4 lineBorder omega" id="HUDTime">00.0 secs</div>
    <div class="clear"></div>
    <div id="gameContainer" class="grid_12"></div>
    <div id="editorContainer" class="grid_12" style="height: 540px;"></div>
    <div class="clear"></div>
    <div class="grid_12" style="height: 20px"></div>
    <div class="clear"></div>
    <div class="grid_6">
        <p class="grayBorder JURA_normal_36">
            Select Level
        </p>
        <!--    BEGIN LEVEL LIST -->

		<% count = 0 %>
        <% perRow = 3 %>
		<% @levels.each do |level| %>
			<% count = count + 1 %>
			<% extraClass = count % perRow == 0 ? " levelThumbnailEOL" : "" %>
			<%= "\t<div data-location='' data-id='#{level.id}' class='grid_2 levelThumbnail#{extraClass}'>#{level.title}</div>".html_safe %>
		<% end %>
        <!--    END LEVEL LIST -->
    </div>
    <div class="grid_6">
        <p class="grayBorder JURA_normal_36">
            Level Information
        </p>

        <div class="grid_6 levelThumbnail">
            <p>Some Level details go here</p>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="grid_1 doMore prefix_1">
        <p><a href="https://github.com/onedayitwillmake/ChuClone">Fork on Github</a></p>
    </div>
    <div class="grid_1 doMore suffix_1">
        <p><a href="?editMode=true">Switch to Edit Mode</a></p>
    </div>