<% content_for :game_start do %>
    <script type="text/javascript">ChuClone.model.Constants.JOYSTICK.ENABLED = true;</script>
    <script type="text/javascript" src="/game/js/ChuClone/components/player/RemoteJoystickInputComponent.js"></script>
    <script type="text/javascript">
		ChuClone.model.Constants.SERVER.ASSET_PREFIX = "game/";
		<%= render :partial => "game/game_init", :locals => { :level => @level } %>

		window.addEventListener('DOMContentLoaded', function callback(e){
			console.log(game._gameView.setFullscreen( true ) )
		}, false);
	</script>
<% end %>

<% content_for :game_style do %>
	<%= render :partial => "game/style" %>
    <style>
        body {
            background-color: #333333;
			margin:  0;
			overflow:  hidden;
        }
        :focus { outline: 0; }
    </style>

<% end %>
<div id="gameContainer" style=""></div>
<div id="editorContainer" class="" style="height: 540px;"></div>