<% content_for :game_start do %>
    <script type="text/javascript">ChuClone.model.Constants.JOYSTICK.ENABLED = true;</script>
    <script type="text/javascript" src="/game/js/ChuClone/components/player/RemoteJoystickInputComponent.js"></script>
    <script type="text/javascript">
		ChuClone.model.Constants.SERVER.ASSET_PREFIX = "game/";
        ChuClone.model.Constants.IS_BLOOM = true;
		<%= render :partial => "game/game_init", :locals => { :level => @level } %>
		window.addEventListener('DOMContentLoaded', function callback(e){
			game._gameView.setFullscreen( true, false )
		}, false);
	</script>
<% end %>

<% content_for :game_style do %>
	<%= render :partial => "game/style" %>
    <style>
        body {
            background-color: #333333;
			margin:  0;
			overflow:  hidden;
        }
        :focus { outline: 0; }
    </style>

<% end %>
<div id="gameContainer" style=""></div>
<div style="width:100%; position:absolute; bottom:50px; z-index:10">
	<div class="container_12">
		<div class='push_3 grid_5 jura_48 magentaBorder' style='margin-bottom:20px; color:#01b0ee; text-align:center; margin-left: 20px; background: rgba(0,0,0, 0.75);'>How To Play!</div>
		<div class="clear"></div>
		<div class='grid_5 jura_28 magentaBorder omega alpha' style='color:#01b0ee; text-align:center; margin-left: 60px; background: rgba(0,0,0, 0.75);'>1. Connect to <span class="jura_32">ChuClone</span> wifi</div>
		<div class='grid_5 jura_28 magentaBorder omega alpha' style='color:#01b0ee; text-align:center; margin-left: 20px; background: rgba(0,0,0, 0.75);'>2. Browse to http://<span class="jura_32">10.0.2.1</span></div>
	</div>
</div>