<!DOCTYPE html>
<html>
<head>
	<title>All Levels</title>
	<link rel="stylesheet" href="/game/assets/css/960/reset.css"/>
	<link rel="stylesheet" href="/game/assets/css/960/text.css"/>
	<link rel="stylesheet" href="/game/assets/css/960/960.css"/>
	<link rel="stylesheet" href="/game/assets/css/ChuClone.css"/>
	<link rel="stylesheet" href="/game/assets/css/admin/style.css"/>

	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<% csrf_meta_tag %>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-1249241-7']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>

<div id='contentContainer'>
	<%= yield %>
</div>
<div class="container_12" id="info">
	<% flash_helper_2 %>
</div>


</body>
</html>
